.generalEmployeesPage {
  background-color: #f8f8f8;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
  flex-direction: column;
}

.title {
  font-weight: 800;
  font-size: 28px;
}

.searchPanel {
  margin-top: 25px;
  padding: 40px;
  border-radius: 24px;
  background-color: white;
  display: flex;
  align-items: center;
}

.contactsNum {
  color: #54d3c2;
  font-size: 28px;
  font-weight: 600;
  margin-right: 14px;
}

.contactsName {
  font-weight: 600;
  font-size: 12px;
}

.searchBar {
  width: 360px;
  height: 48px;
  background: #f8f8f8;
  border-radius: 24px;
  margin-left: 39px;
  padding-left: 47px;
}

.button {
  margin-left: auto;
  color: #54d3c2;
  border: 2px solid #54d3c2;
  border-radius: 24px;
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.tableContainer {
  margin: 0 auto;
  margin-top: 4rem;
  overflow-y: hidden;
  overflow-x: scroll;
  max-height: 25.2rem;
  background: white;
  border-radius: 56px;
  max-width: clamp(400px, 80vw, 100%);
  scrollbar-width: thin;
  scrollbar-color: #b6bcc3 transparent;
}

table {
  width: 150vw;
  border-collapse: collapse;
}

thead {
  font-weight: 700;
  font-size: 12px;
  color: #54d3c2;
}

tbody {
  font-weight: 600;
  font-size: 12px;
  color: #6d7986;
}

th,
td {
  padding: 10px;
  border: 2px solid #f8f8f8;
  text-align: center;
  vertical-align: middle;
}

.tableContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
}

.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b6bcc3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.page {
  font-weight: 600;
  font-size: 14px;
}

.active {
  color: #54d3c2;
}

.sort:hover {
  cursor: pointer;
}
